 <div class="user-details">
  <h1> About Zach </h1>
  <p> Zach West is a 22 year old, aspiring media composer and keyboardist out of St. Pete, FL. Over the past four years, West has been writing and performing with various bands in the St. Pete and Tampa area, bringing an exciting and unique feel to the composition. As a young musician, Zach has had much success working with well-known organizations and programs, including: </p>
</div>
  <ul>
    <li>Participating in the Grammy Evolution Project (2015)</li>
    <li>Awarded the John Rusnak Memorial Scholarship, awarded to Seniors with a promising future in music. (2015)</li>
    <li>Placed in the top 2 in the Ruth Eckerd Hall: Song Writing Competition (2016)</li>
  </ul>
  <p>Zach has always been intrigued and fascinated by the music compositions involved in other creative media outlets, such as video games and cinema. His love for video games and film has inspired West to pursue this style of music, creating new orchestral and various other genres that fit well within those mediums.</p>
  <div class="user">
      <img src="https://i.imgur.com/0owZkua.png" width="400px"></img>
      <img src="https://i.imgur.com/9CQHPcc.png" width="400px"></img>
      <p>Check out Zach in a professional band setting on <a target=_blank href="https://www.youtube.com/channel/UCmuKb3O1KIR8IiXydKwNBKg"> youtube</a></p>
</div>
