<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <div class="circle">
          <img src="https://i.imgur.com/a4sUfD2.png" width="100px"></img>
          </div>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="https://mail.google.com/mail/?view=cm&source=mailto&to=zachwestmusic@yahoo.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://www.facebook.com/zachwestmusic/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Zach</a>
        <a class="link" href="#projects" data-scroll>Compositions</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
