<div class="user-details">
  <h1> Featured Compositions </h1>
</div>
<div class="row">
  <div class="column">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.5015983%2Fvideos%2F108727757635096%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    <div class="contents">
      <h3> Under the Sunken Cave </h3>
        <p> A synth based piece with a lofi drum sound </p>
      <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
    </div>
  </div>
<div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.5015983%2Fvideos%2F108722894302249%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Never Forget the Classics </h3>
      <p> An ode to the video game classics using 8bit sounds </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
</div>
<div class="row">
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.5015983%2Fvideos%2F108714570969748%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Cherry Blossoms </h3>
      <p> A beautiful washy odd metered piece inspired by eastern</p>
      <p> music </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
  </div>
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10214043309956035%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Memories </h3>
      <p> Light playful song featuring piano strings and vocals</p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10214015309816049%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>  
  <div class="contents">
    <h3> Venus </h3>
      <p> Italian opera inspired piece featuring vocals piano and strings </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10214021203643391%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Breath of the Wild </h3>
      <p> A piece inspired by the beautiful landscapes in the Zelda </p>
        <p>franchise</p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10213947969252577%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> March of the Vanguard Militia </h3>
      <p> A heavy march reminiscent of the droid marches of Star Wars </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10213845506851081%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Paradise </h3>
      <p> A peaceful relaxing latin beach tune </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
</div>
<div class="row">
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10213836381262947%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Poseidon's Wrath </h3>
      <p> An epic cinematic piece featuring the choir </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10213822904446035%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Into the Windswept Valley </h3>
      <p> Beautiful Windy piece featuring a soaring flute and strings </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzach.west.127%2Fvideos%2F10213794308251148%2F&show_text=0&width=560" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <div class="contents">
    <h3> Journey through the Mystical Forest </h3>
      <p> A mystical and whimsical tune featuring the oboe and mallets </p>
    <a class="project-link" target="_blank" href="https://drive.google.com/drive/folders/1P8csVykxI1UbeUbwHO7TP_jC3zfw3-PO">Download</a>
  </div>
</div>
</div>
